---
import type { MarkdownInstance, PaginateFunction, Page } from 'astro'
import { DefaultAuthor, Frontmatter , SiteMetadata, authorDetail, PAGE_SIZE } from '../../../config'
import Base from '../../../layouts/base.astro'
import Img from '../../../components/img.astro'
import PageHero from '../../../components/pagehero.astro'
import BlogRoll from '../../../components/blogroll.astro'
import PaginateControl from '../../../components/paginatecontrol.astro'

export interface Props {
  page: Page<MarkdownInstance<Frontmatter>>
}

const { author } = Astro.params
const { page } = Astro.props

const detail = authorDetail(author as string)

const frontmatter: Frontmatter = {
  title: 'Author: ' + author + (page.size < page.total ? ' (page ' + page.currentPage + ' of ' + page.lastPage + ')' : ''),
  description:
    detail.description + '. ' +
    'Showing articles ' +
    (page.start + 1) +
    '-' +
    (page.end + 1) +
    ' (total ' +
    page.total +
    ')',
  coverSVG: '../svg/undraw/undraw_short_bio.svg',
  socialImage: '../images/undraw/undraw_short_bio.png',
  publishDate: SiteMetadata.buildTime,
}

export async function getStaticPaths({ paginate }: { paginate: PaginateFunction }) {
  const allPosts = (await Astro.glob(
    '../../blog/*.{md,mdx}'
  )) as MarkdownInstance<Frontmatter>[]
  const posts = allPosts
    .sort(
      (a, b) =>
        new Date(b.frontmatter.publishDate).valueOf() -
        new Date(a.frontmatter.publishDate).valueOf()
    )
    .filter(post => !post.frontmatter.draft)

    const authors = Array.from(new Set(posts.flatMap(post => post.frontmatter.author)))

  return authors.map(author => {
    return paginate(posts.filter(post => author && post.frontmatter.author?.includes(author)), {
      params: { author },
      pageSize: PAGE_SIZE
    })
  })
}
---

<Base frontmatter={frontmatter}>
  <header>
    <PageHero
      title={frontmatter.title}
      description={frontmatter.description}
      coverSVG={frontmatter.coverSVG}
      socialImage={frontmatter.socialImage}
    >
    <Img src={detail.image} alt={detail.name} class="mt-4 h-32 w-32 rounded-full object-center object-cover" />
    <PaginateControl page={page} />
  </PageHero>
  </header>
  <main class="mt-10 bg-gray-100 dark:bg-gray-900">
    <BlogRoll posts={page.data} />
  </main>
</Base>
