---
import { Swiper, SwiperWrapper, SwiperSlide } from 'astro-swiper'
import { SwiperButtonPrev, SwiperButtonNext, SwiperPagination } from 'astro-swiper'
import type { AstroSwiperType } from 'astro-swiper'
import type { ImageMetadata } from 'astro'

const astroSwiperOptions: AstroSwiperType = {
  options: {
    cssMode: true,
    loop: true,
    spaceBetween: 30,
    centeredSlides: true,
    autoplay: {
      delay: 5000,
      disableOnInteraction: false,
      waitForTransition: false
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev'
    },
    mousewheel: true,
    keyboard: true
  }
}

export interface Props {
  pages: {
    name: string
    image: string
    title?: string
    description?: string
  }[]
}

const { pages } = Astro.props

const imagepaths = pages.map((page) => page.image)
const imageFiles = import.meta.glob<ImageMetadata>('../assets/gallery/**/*.{png,webp,jpg,jpeg}', {
  import: 'default',
  eager: true
})
const folderFiles = Object.keys(imageFiles).filter((image) => imagepaths.includes(image))
const images = folderFiles.map((image) => imageFiles[image])
---

<Swiper
  options={astroSwiperOptions.options}
  style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
  class="not-prose mx-auto h-[500px] w-full max-w-(--breakpoint-xl) rounded-lg"
>
  <SwiperWrapper>
    {
      pages.map((page, i) => (
        <SwiperSlide class="relative">
          <div class="absolute bottom-0 left-0 z-10 h-full w-full bg-linear-to-t from-gray-800 opacity-25 xl:rounded-lg" />
          <img
            src={images[i].src}
            alt={page.name}
            class="absolute top-0 left-0 z-0 m-0 h-full w-full object-cover"
          />
          <div class="absolute bottom-0 left-0 z-20 mb-4 ml-8 bg-transparent p-4 text-white">
            {page.title && <h4 class="text-lg font-bold">{page.title}</h4>}
            {page.description && <p class="text-base text-gray-300 italic">{page.description}</p>}
            <slot />
          </div>
        </SwiperSlide>
      ))
    }
  </SwiperWrapper>
  <SwiperButtonPrev />
  <SwiperButtonNext />
  <SwiperPagination />
</Swiper>
