---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon'
import { Logo } from '../config'

const social = await getCollection('social')
---

<div class="h-24 lg:h-16"></div>
<footer class="text-gray-600 dark:text-gray-400">
  <div
    class="fixed inset-x-0 bottom-0 z-20 flex w-full flex-col items-center border-t-2 border-purple-300 bg-gray-100 px-4 py-1 dark:border-purple-600 dark:bg-gray-800 lg:flex-row lg:px-8 lg:py-4">
    <span class="flex flex-none flex-row items-center">
      <a
        class="title-font dark:text:gray-100 flex items-center justify-center font-medium text-gray-900 lg:justify-start"
        href={import.meta.env.BASE_URL}>
        <img src={Logo.src} alt="Footer Logo" class="h-6 w-6 dark:bg-gray-100" loading="lazy" />
        <span class="sr-only">Logo</span>
      </a>
      <p
        class="ml-2 border-l-2 border-purple-300 py-1 pl-2 text-sm text-gray-600 dark:border-purple-600 dark:text-gray-300">
        © {new Date().getFullYear()} MIT licence
        <a
          href="https://hellotham.com"
          class="ml-1 text-purple-600 hover:text-pink-600 dark:text-purple-300 dark:hover:text-pink-300"
          rel="noopener noreferrer"
          target="_blank">
          Hello Tham Pty Ltd
        </a>
      </p>
    </span>
    <span class="flex flex-none flex-row items-center">
      <p
        class="text-sm text-gray-600 dark:text-gray-300 lg:ml-4 lg:border-l-2 lg:border-purple-300 lg:py-1 lg:pl-4 dark:lg:border-purple-600">
        <a
          href={import.meta.env.BASE_URL + 'privacy'}
          class="ml-1 text-purple-600 hover:text-pink-600 dark:text-purple-300 dark:hover:text-pink-300">
          Privacy Policy
        </a>
      </p>
      <p class="ml-4 border-l-2 border-purple-300 py-1 pl-4 text-sm text-gray-600">
        <a
          href={import.meta.env.BASE_URL + 'rss.xml'}
          class="ml-1 text-purple-600 hover:text-pink-600 dark:text-purple-300 dark:hover:text-pink-300"
          rel="noopener noreferrer"
          target="_blank">
          RSS
        </a>
      </p>
      <p
        class="ml-4 border-l-2 border-purple-300 py-1 pl-4 text-sm text-gray-600 dark:text-gray-300">
        <a
          href={import.meta.env.BASE_URL + 'sitemap-index.xml'}
          class="ml-1 text-purple-600 hover:text-pink-600 dark:text-purple-300 dark:hover:text-pink-300"
          rel="noopener noreferrer"
          target="_blank">
          Sitemap
        </a>
      </p>
    </span>
    <span class="mt-2 inline-flex grow justify-center lg:ml-auto lg:mt-0 lg:justify-end">
      {
        social.map((s) =>
          s.data.link ? (
            <a
              href={s.data.link}
              class="ml-3 text-purple-600 hover:text-pink-600 dark:text-purple-300 dark:hover:text-pink-300"
              rel="noopener noreferrer"
              target="_blank">
              <Icon pack="bi" name={s.data.icon} class=" h-5 w-5" />
              <span class="sr-only">{s.data.name}</span>
            </a>
          ) : (
            ''
          )
        )
      }
    </span>
  </div>
</footer>
