---
import { getCollection } from 'astro:content'
import { Icon } from 'astro-icon'
import { Logo } from '../config'

const social = await getCollection('social')
---

<div class=" "></div>
<footer class=" border-t-2 border-tertiary bg-white">
  <div
    class=" max-w-7xl m-auto inset-x-0 bottom-0 z-20 flex w-full flex-col items-center  px-4 py-1 dark:border-purple-600 dark:bg-gray-800 lg:flex-row lg:px-8 lg:py-4">
    <span class="flex flex-none flex-row items-center">
      <a
        class="title-font dark:text:gray-100 flex items-center justify-center font-medium text-gray-900 lg:justify-start"
        href={import.meta.env.BASE_URL}>
        <img src={Logo.src} alt="Footer Logo"     height="65" style="height: 65px;" loading="lazy" />
        <span class="sr-only">Escola Turminha do Batutinha</span>
      </a>
      <p
      class="ml-2   py-1 pl-2 text-sm text-gray-600 dark:border-purple-600 dark:text-gray-300">
      Todos os direitos reservados © {new Date().getFullYear()} 
      
    </p>
    </span>
 
    <span class="mt-2 inline-flex grow justify-center lg:ml-auto lg:mt-0 lg:justify-end">
      {
        social.map((s) =>
          s.data.link ? (
            <a
              href={s.data.link}
              class="ml-3 text-primary hover:text-secundary dark:text-purple-300 dark:hover:text-pink-300"
              rel="noopener noreferrer"
              target="_blank">
              <Icon pack="bi" name={s.data.icon} class=" h-5 w-5" />
              <span class="sr-only">{s.data.name}</span>
            </a>
          ) : (
            ''
          )
        )
      }
    </span>
  </div>
</footer>
