---
import type { MarkdownInstance } from 'astro'
import type { Frontmatter } from '../config'
import Categories from '../components/categories.astro'
import SVGImg from '../components/svgimg.astro'
import Img from '../components/img.astro'

export interface Props {
  posts: MarkdownInstance<Frontmatter>[]
}

const { posts } = Astro.props

const newestPost = posts[0]
const otherPosts = posts.slice(1, 5)
---

<div class="bg-white dark:bg-gray-900">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto py-8 sm:py-12 lg:py-16 lg:max-w-none">
      <div class="flex flex-row items-center">
        <h2
          class="text-2xl md:text-4xl font-extrabold text-purple-800 dark:text-purple-200"
        >
          Our Latest Articles
        </h2>
        <a
          href={import.meta.env.BASE_URL + 'blog'}
          class="inline-block px-2 py-2 md:px-6 md:py-3 mt-2 ml-4 rounded-md bg-purple-600 hover:bg-pink-600 text-white dark:bg-purple-300 dark:hover:bg-pink-300 dark:text-black font-bold text-base md:text-lg"
        >
          All Articles
        </a>
        <a
          href={import.meta.env.BASE_URL + 'categories'}
          class="inline-block px-2 py-2 md:px-6 md:py-3 mt-2 ml-4 rounded-md text-purple-800 bg-purple-100 hover:bg-pink-200 dark:text-purple-100 dark:bg-purple-900 dark:hover:bg-pink-900 font-bold text-base md:text-lg"
        >
          Categories
        </a>
        <a
          href={import.meta.env.BASE_URL + 'tags'}
          class="inline-block px-2 py-2 md:px-6 md:py-3 mt-2 ml-4 rounded-md text-purple-800 bg-purple-100 hover:bg-pink-200 dark:text-purple-100 dark:bg-purple-900 dark:hover:bg-pink-900 font-bold text-base md:text-lg"
        >
          Tags
        </a>
      </div>
      <div
        class="mt-6 space-y-12 lg:space-y-0 lg:grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-x-6"
      >
        <div
          class="mb-4 lg:mb-0 p-4 lg:p-0 relative rounded block xl:col-span-2"
        >
          <a href={newestPost.url}>
            <span class="sr-only">{newestPost.frontmatter.title}</span>
            {
              newestPost.frontmatter.coverSVG ? (
                <SVGImg
                  src={newestPost.frontmatter.coverSVG}
                  alt={newestPost.frontmatter.title + ' featured image'}
                  class="rounded-md w-full h-64 md:h-80 object-cover bg-purple-100 dark:bg-purple-800"
                />
              ) : (
                <Img
                  src={
                    newestPost.frontmatter.coverImage ||
                    newestPost.frontmatter.socialImage
                  }
                  alt={newestPost.frontmatter.title + ' featured image'}
                  class="rounded-md w-full h-64 md:h-80 object-cover bg-purple-100 dark:bg-purple-800"
                />
              )
            }
          </a>
          <div class="mt-4">
            {
              newestPost.frontmatter.categories && (
                <Categories categories={newestPost.frontmatter.categories} />
              )
            }
          </div>
          <a href={newestPost.url}>
            <h1
              class="text-purple-600 hover:text-pink-600 dark:text-purple-300 dark:hover:text-pink-300 text-4xl font-bold mt-2 leading-tight"
            >
              {newestPost.frontmatter.title}
            </h1>
          </a>
          <p class="text-gray-600 dark:text-gray-400 mb-4">
            {newestPost.frontmatter.publishDate?.slice(0, 10)}
          </p>
          <p class="text-gray-600 dark:text-gray-400 mb-4">
            {newestPost.frontmatter.description}
          </p>
          <a
            href={newestPost.url}
            class="inline-block px-6 py-3 mt-2 rounded-md bg-purple-600 hover:bg-pink-600 text-white dark:bg-purple-300 dark:hover:bg-pink-300 dark:text-black"
          >
            Read more
            <span class="sr-only">{newestPost.frontmatter.title}</span>
          </a>
        </div>
        <div class="w-full">
          {
            otherPosts.map(post => (
              <div class="rounded w-full md:grid md:grid-cols-3 mb-10">
                <a href={post.url}>
                  {post.frontmatter.coverSVG ? (
                    <SVGImg
                      src={post.frontmatter.coverSVG}
                      alt={post.frontmatter.title + ' featured image'}
                      class="block lg:block rounded-md w-full h-64 md:h-32 m-4 md:m-0 object-cover bg-purple-100 dark:bg-purple-800"
                    />
                  ) : (
                    <Img
                      src={
                        post.frontmatter.socialImage ||
                        post.frontmatter.socialImage
                      }
                      alt={post.frontmatter.title + ' featured image'}
                      class="block lg:block rounded-md w-full h-64 md:h-32 m-4 md:m-0 object-cover bg-purple-100 dark:bg-purple-800"
                    />
                  )}
                </a>
                <div class="bg-white dark:bg-gray-800 rounded px-4 md:col-span-2">
                  {post.frontmatter.categories && (
                    <Categories categories={post.frontmatter.categories} />
                  )}
                  <a href={post.url}>
                    <div class="md:mt-1 text-gray-800 dark:text-gray-100 font-semibold text-xl">
                      {post.frontmatter.title}
                    </div>
                    </a>
                    <p class="block text-sm text-gray-600 dark:text-gray-300">
                      {post.frontmatter.publishDate?.slice(0, 10)}
                    </p>
                    <p class="block md:hidden text-sm text-gray-600 dark:text-gray-300">
                      {post.frontmatter.description}
                    </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</div>
