---
import { Image } from 'astro:assets'
import { DefaultImage } from '../config'

export interface Props {
  title: string
  description?: string
  coverSVG?: ImageMetadata
  coverImage?: ImageMetadata
  socialImage?: ImageMetadata
}

const { title, description, coverSVG, coverImage, socialImage } = Astro.props
---

<div class="relative mx-auto h-96 w-full max-w-screen-xl md:my-4">
  <div
    class="absolute bottom-0 left-0 z-10 h-full w-full bg-gradient-to-t from-gray-700 xl:rounded-lg">
  </div>
  {
    coverSVG ? (
      <img
        src={coverSVG.src}
        alt={title}
        class="absolute left-0 top-0 z-0 h-full w-full object-cover"
      />
    ) : (
      <Image
        src={coverImage || socialImage || DefaultImage}
        alt={title}
        class="absolute left-0 top-0 z-0 h-full w-full object-cover"
      />
    )
  }
  <div class="absolute bottom-0 left-0 z-20 p-4">
    <h2 class="text-4xl font-bold leading-tight text-white">{title}</h2>
    <h2 class="text-xl font-medium italic text-purple-300">{description}</h2>
    <slot />
  </div>
</div>
