---
// import { ViewTransitions } from 'astro:transitions'
import type { CollectionEntry } from 'astro:content'
import SEO from '../components/seo.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
import Gallery from '../components/gallery.astro'
import MarkmapLoader from '../components/markmap.astro'
import { SiteMetadata } from '../config'

export interface Props {
  frontmatter: CollectionEntry<'blog'>['data'] | CollectionEntry<'page'>['data']
  schema?: string
}

const { frontmatter, schema = 'WebPage' } = Astro.props

import '../styles/global.css'
---

<!doctype html>
<html lang="en" itemscope itemtype={`https://schema.org/${schema}`}>
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'self'; script-src 'self' 'unsafe-eval' 'unsafe-inline'; style-src 'self' 'unsafe-inline'; img-src 'self' data: https://www.plantuml.com https://*.tile.openstreetmap.org; font-src 'self'; connect-src 'self';"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.ico`} sizes="any" />
    <link rel="icon" href={`${import.meta.env.BASE_URL}favicon.svg`} type="image/svg+xml" />
    <link rel="apple-touch-icon" href={`${import.meta.env.BASE_URL}apple-touchicon.png`} />
    <link rel="manifest" href={`${import.meta.env.BASE_URL}site.webmanifest`} />
    <link rel="sitemap" href={`${Astro.site}sitemap-indexxml`} />
    <link
      rel="alternate"
      type="application/rss+xml"
      title={SiteMetadata.title}
      href={`${Astro.site}rss.xml`}
    />
    <meta name="generator" content={Astro.generator} />
    <SEO frontmatter={frontmatter} />
    <script is:inline>
      const setDarkMode = () => {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }
      setDarkMode() //initial navigation
      document.addEventListener('astro:after-swap', setDarkMode) // Runs on view transitions navigation
    </script>
    <style is:inline>
      [x-cloak] {
        display: none !important;
      }
      .markmap > svg {
        width: 100%;
        height: 400px;
      }
    </style>
    {frontmatter.extra?.includes('math') && <style>@import "katex/dist/katex.min.css";</style>}
    <slot name="in-head" />
  </head>
  <body class="dark:bg-gray-900">
    <Header />
    <slot />
    {frontmatter.gallery && <Gallery folder={frontmatter.gallery} />}
    <slot name="before-footer" />
    <Footer />
    {frontmatter.extra?.includes('markmap') && <MarkmapLoader />}
  </body>
</html>
