---
import type { Frontmatter } from '../config'
import { SiteMetadata } from '../config'
import { SEO } from 'astro-seo'
import JsonLD from '../components/jsonld.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'
export interface Props {
  frontmatter: Frontmatter
}

const { frontmatter } = Astro.props as Props

const openGraph = {
  basic: {
    title: frontmatter.title,
    type: 'website',
    image: frontmatter.socialImage,
  },
  optional: {
    description: frontmatter.description,
    siteName: SiteMetadata.title,
  },
  image: {
    alt: 'cover image',
  },
}
const twitter = {
  card: frontmatter.socialImage ? 'summary_large_image' : 'summary',
  site: SiteMetadata.title,
  creator: SiteMetadata.author.twitter,
}
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={SiteMetadata.title + ' | ' + frontmatter.title}
      description={frontmatter.description}
      {openGraph}
      {twitter}
    />
    <JsonLD frontmatter={frontmatter} />
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
