---
import type { CollectionEntry } from 'astro:content'
import Base from '../layouts/base.astro'
import PageHero from '../components/pagehero.astro'

export interface Props {
  frontmatter: CollectionEntry<'page'>['data']
}

const { frontmatter } = Astro.props
---

<Base {frontmatter}>
  <main class='dark:bg-gray-900'>
    <article class='post'>
      <header>
        <PageHero
          title={frontmatter.title}
          description={frontmatter.description}
          coverSVG={frontmatter.coverSVG}
          socialImage={frontmatter.socialImage}
        />
      </header>
      <section
        itemprop='mainContentOfPage'
        class='prose prose-purple mx-auto my-8 max-w-screen-lg px-4 dark:prose-invert lg:prose-xl lg:px-0'
      >
        <slot />
      </section>
    </article>
  </main>
</Base>
